.NavbarContainer {}

.NavbarContainer h1 {
  color: rgb(148, 12, 12);
  background-image: url();
}

.Navbar {
  background-color: grey;
  overflow: hidden;
  position: sticky;
}

.Navbar-Items {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: flex;
  font-size: 22px;
}

.Navbar-Items a {
  height: 100%;
  padding: 5px 3%;
  border-right: 2px solid black;
  color: rgb(53, 10, 10);
  display: inline-block;
}

.Navbar-Items a:hover {
  background-color: rgb(92, 91, 91);
  color: red;
}

.Navbar-Items a:active {
  background-color: #4CAF50;
  color: white;
}

.Content-Container {
  margin-top: 15%;
  margin-bottom: 15%;
margin-right: 10%;
}

.Content {
  flex-wrap: flex;
}

.Content h2 {
  text-decoration: underline;
}
